<header class="navbar navbar-expand-lg navbar-dark bg-primary px-5">
    <div class="container-fluid">
        <!-- Home na esquerda -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="h4">Home</span>
        </a>
        
        <!-- Espaço vazio no meio (opcional, mantém o alinhamento) -->
        <div class="flex-grow-1"></div>
        
        <!-- Usuário na direita -->
        <div class="dropdown">
            <a class="nav-link dropdown-toggle text-white d-flex align-items-center" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="px-3">Nome do Usuário</span>
                <i class="bi bi-person-circle fs-4 me-2"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" href="#">Configurações</a></li>
                <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sair</a></li>
            </ul>
        </div>
    </div>



    {% comment %} <div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'cadastrar' %}">Criar colaborador</a>
        <a href="{% url 'listar_colaboradores' %}">listar Colaboradores</a>
    </div> {% endcomment %}
</header>

