{% extends "app_emprestimo/global/index.html" %}

{% block title %}Atualizar{% endblock title %}

{% block content %}
<main>
    <h1>Atualizar Colaborador</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome do colaborador" value="{{colaborador.nome}}">
        <input type="text" name="cpf" placeholder="Cpf do colaborador" value="{{colaborador.cpf}}">
        <input type="text" name="funcao" placeholder="Função do colaborador" value="{{colaborador.funcao}}">
        <input type="date" name="data_admissao" placeholder="Data de admissão do colaborador" value="{{colaborador.data_admissao | date:'Y-m-d'}}">
        <button type="submit">Atualizar</button>
    </form>
</main>
{% endblock content %}