{% extends "app_emprestimo/global/index.html" %}

{% block title %}cadastrar{% endblock title %}

{% block content %}
<main>
    <h1>Criar colaborador</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="nome" placeholder="Nome do colaborador">
        <input type="text" name="cpf" placeholder="Cpf do colaborador">
        <input type="text" name="funcao" placeholder="Função do colaborador">
        <input type="date" name="data_admissao" placeholder="Data de admissão do colaborador">
        <button type="submit">Cadastrar</button>
    </form>
</main>
{% endblock content %}